### Importing basic libraries

In [10]:
import numpy as np
import pandas as pd

### Creating a pd.DataFrame from a dictionary

In [11]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [12]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### Creating a pd.DataFrame from a .csv

In [13]:
# Importing a .csv from a url
url = 'https://raw.githubusercontent.com/GabrielReisR/R/master/estrutura%20de%20dados/dados/libraries.csv'
libraries = pd.read_csv(url, encoding = 'latin_1')

libraries

,Unnamed: 0,Country,Region,Expenditures \r\r\n(US Dollars),Total Libraries,Total Librarians,Total Volumes,Total Users
0,1,Afghanistan,Asia,NaN,150,NaN,577300,48133.0
1,2,Albania,Europe,134036.0,2107,32.0,12398795,581298.0
2,3,Algeria,Africa,641176.0,760,56.0,4363718,1430.0
3,4,American Samoa,Oceania,NaN,32,NaN,170009,NaN
4,5,Andorra,Europe,5777651.0,39,6.0,222869,16596.0
...,...,...,...,...,...,...,...,...
214,215,"Virgin Islands, British",Latin America,NaN,7,NaN,36000,8815.0
215,216,"Virgin Islands, U.S.",Latin America,NaN,45,NaN,495810,NaN
216,217,Yemen,Middle East,NaN,12,NaN,360500,NaN
217,218,Zambia,Africa,6050.0,247,NaN,4226783,950.0
218,219,Zimbabwe,Africa,107316.0,174,12.0,2048707,208487.0

In [14]:
# Fixing the indexing
libraries = pd.read_csv(url, encoding = 'latin_1', index_col = 0)

libraries

,Country,Region,Expenditures \r\r\n(US Dollars),Total Libraries,Total Librarians,Total Volumes,Total Users
1,Afghanistan,Asia,NaN,150,NaN,577300,48133.0
2,Albania,Europe,134036.0,2107,32.0,12398795,581298.0
3,Algeria,Africa,641176.0,760,56.0,4363718,1430.0
4,American Samoa,Oceania,NaN,32,NaN,170009,NaN
5,Andorra,Europe,5777651.0,39,6.0,222869,16596.0
...,...,...,...,...,...,...,...
215,"Virgin Islands, British",Latin America,NaN,7,NaN,36000,8815.0
216,"Virgin Islands, U.S.",Latin America,NaN,45,NaN,495810,NaN
217,Yemen,Middle East,NaN,12,NaN,360500,NaN
218,Zambia,Africa,6050.0,247,NaN,4226783,950.0
219,Zimbabwe,Africa,107316.0,174,12.0,2048707,208487.0

In [15]:
# Fixing the column names
libraries = pd.read_csv(url, 
                        encoding = 'latin_1',
                        index_col = 0,
                        names = ['country', 'region', 'invests_us_dollars',
                                 'libraries_total', 'librarians_total', 'volumes_total', 'users_total'],
                        header = 0 # this is needed when overriding column names
                       )

libraries

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total
1,Afghanistan,Asia,NaN,150,NaN,577300,48133.0
2,Albania,Europe,134036.0,2107,32.0,12398795,581298.0
3,Algeria,Africa,641176.0,760,56.0,4363718,1430.0
4,American Samoa,Oceania,NaN,32,NaN,170009,NaN
5,Andorra,Europe,5777651.0,39,6.0,222869,16596.0
...,...,...,...,...,...,...,...
215,"Virgin Islands, British",Latin America,NaN,7,NaN,36000,8815.0
216,"Virgin Islands, U.S.",Latin America,NaN,45,NaN,495810,NaN
217,Yemen,Middle East,NaN,12,NaN,360500,NaN
218,Zambia,Africa,6050.0,247,NaN,4226783,950.0
219,Zimbabwe,Africa,107316.0,174,12.0,2048707,208487.0

### Accessing and subsetting rows and columns

In [16]:
# Print out one column as Pandas Series
print(libraries['country'])

# Print out one column as Pandas DataFrame
print(libraries[['country']])

# Print out DataFrame with two columns
print(libraries[['country', 'region']])

1                  Afghanistan
2                      Albania
3                      Algeria
4               American Samoa
5                      Andorra
                ...
215    Virgin Islands, British
216       Virgin Islands, U.S.
217                      Yemen
218                     Zambia
219                   Zimbabwe
Name: country, Length: 219, dtype: object
                     country
1                Afghanistan
2                    Albania
3                    Algeria
4             American Samoa
5                    Andorra
..                       ...
215  Virgin Islands, British
216     Virgin Islands, U.S.
217                    Yemen
218                   Zambia
219                 Zimbabwe

[219 rows x 1 columns]
                     country         region
1                Afghanistan           Asia
2                    Albania         Europe
3                    Algeria         Africa
4             American Samoa        Oceania
5                    Andorra         Europe
..                       ...            ...
215  Virgin Islands, British  Latin America
216     Virgin Islands, U.S.  Latin America
217                    Yemen    Middle East
218                   Zambia         Africa
219                 Zimbabwe         Africa

[219 rows x 2 columns]

In [17]:
# Print out first 3 observations
print(libraries[0:3]) # in pandas, the interval is INCLUSIVE

# Print out fourth, fifth and sixth observation
libraries[3:6] #

       country  region  invests_us_dollars  libraries_total  librarians_total  \
1  Afghanistan    Asia                 NaN              150               NaN
2      Albania  Europe            134036.0             2107              32.0
3      Algeria  Africa            641176.0              760              56.0

   volumes_total  users_total
1         577300      48133.0
2       12398795     581298.0
3        4363718       1430.0

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total
4,American Samoa,Oceania,NaN,32,NaN,170009,NaN
5,Andorra,Europe,5777651.0,39,6.0,222869,16596.0
6,Angola,Africa,NaN,62,NaN,392870,NaN

#### Using loc and iloc

In [18]:
'''
While loc can 'localize' rows or columns with a name, iloc can 'localize indexes' by its location.

That said, loc is used when we have a name we want to call in rows or columns.
For that to work, our columns or rows must have names. Otherwise, we're using the same thing as iloc.
However, while using loc, we can not create a pd.DataFrame by subsetting using intervals (because it 
doesn't make sense to subset 'name1' through 'name2')
'''

# USING LOC: Print out first 3 observations as a series
print(libraries.loc[1:3])

       country  region  invests_us_dollars  libraries_total  librarians_total  \
1  Afghanistan    Asia                 NaN              150               NaN
2      Albania  Europe            134036.0             2107              32.0
3      Algeria  Africa            641176.0              760              56.0

   volumes_total  users_total
1         577300      48133.0
2       12398795     581298.0
3        4363718       1430.0

In [19]:
# USING LOC: Print out first 3 observations as a pd.DataFrame
print(libraries.loc[[1, 2, 3]]) # a comma is needed here

# IMPORTANT: while loc prints the first row with '1', in iloc we need to specify '0'
# This happens in loc because it considers the column name as an element 0 by default

       country  region  invests_us_dollars  libraries_total  librarians_total  \
1  Afghanistan    Asia                 NaN              150               NaN
2      Albania  Europe            134036.0             2107              32.0
3      Algeria  Africa            641176.0              760              56.0

   volumes_total  users_total
1         577300      48133.0
2       12398795     581298.0
3        4363718       1430.0

In [20]:
# USING ILOC: Print out first 3 observations as a series
print(libraries.iloc[1:3])

   country  region  invests_us_dollars  libraries_total  librarians_total  \
2  Albania  Europe            134036.0             2107              32.0
3  Algeria  Africa            641176.0              760              56.0

   volumes_total  users_total
2       12398795     581298.0
3        4363718       1430.0

In [21]:
# USING ILOC: Print out first 3 observations as a pd.DataFrame
print(libraries.iloc[[0, 1, 2]])

       country  region  invests_us_dollars  libraries_total  librarians_total  \
1  Afghanistan    Asia                 NaN              150               NaN
2      Albania  Europe            134036.0             2107              32.0
3      Algeria  Africa            641176.0              760              56.0

   volumes_total  users_total
1         577300      48133.0
2       12398795     581298.0
3        4363718       1430.0

In [22]:
# Creating a series
# Subsetting using loc and iloc
libraries.loc[1, 'country']

'Afghanistan'

In [23]:
# Creating a series
# Subsetting using loc and iloc
libraries.iloc[0, 0]

'Afghanistan'

In [24]:
# Creating a series
# Subsetting using loc and iloc
libraries.loc[1:5, 'country']

1       Afghanistan
2           Albania
3           Algeria
4    American Samoa
5           Andorra
Name: country, dtype: object

In [25]:
# Creating a series
# Subsetting using loc and iloc
libraries.iloc[0:4, 0:2]

          country   region
1     Afghanistan     Asia
2         Albania   Europe
3         Algeria   Africa
4  American Samoa  Oceania

In [26]:
# Creating a pd.DataFrame
# Subsetting using loc and iloc
libraries.loc[[1, 2, 3, 4, 5], :] # choosing all columns with ':'; can be replaced by list

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total
1,Afghanistan,Asia,NaN,150,NaN,577300,48133.0
2,Albania,Europe,134036.0,2107,32.0,12398795,581298.0
3,Algeria,Africa,641176.0,760,56.0,4363718,1430.0
4,American Samoa,Oceania,NaN,32,NaN,170009,NaN
5,Andorra,Europe,5777651.0,39,6.0,222869,16596.0

In [27]:
# Creating a pd.DataFrame
# Subsetting using loc and iloc
indexes = list(range(0, 10)) # considera 10 casos porque o caso '0' está numerado com '1'
libraries.iloc[indexes, [0,1]]

                country         region
1           Afghanistan           Asia
2               Albania         Europe
3               Algeria         Africa
4        American Samoa        Oceania
5               Andorra         Europe
6                Angola         Africa
7              Anguilla  Latin America
8   Antigua and Barbuda  Latin America
9             Argentina  Latin America
10              Armenia           Asia

### Subsetting rows with a condition

In [28]:
# Extract region column as Series: region
region = libraries.loc[:,'region']

# Use dr to subset cars: asian
sel = (region == 'Asia')

# Subsetting
asia = libraries[sel]

# Print dataframe
asia

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total
1,Afghanistan,Asia,NaN,150,NaN,577300,48133.0
10,Armenia,Asia,1.331480e+05,2555,1430.0,30935507,13615227.0
14,Azerbaijan,Asia,1.490047e+06,4432,267.0,59502341,180131.0
17,Bangladesh,Asia,4.531000e+05,217,61.0,9159090,42800.0
24,Bhutan,Asia,1.646000e+03,515,29.0,203700,15650.0
29,Brunei Darussalam,Asia,5.953480e+05,40,125.0,1933400,40243.0
33,Cambodia,Asia,NaN,2109,NaN,192839,NaN
41,China,Asia,1.520004e+08,109673,58953.0,1063356687,16852456.0
72,Georgia,Asia,1.476520e+07,2355,442.0,73444582,2894000.0
88,Hong Kong,Asia,8.055702e+07,592,599.0,21717206,2536365.0
91,India,Asia,1.869566e+08,337020,30759.0,165019177,550179.0
92,Indonesia,Asia,NaN,122906,NaN,11500045,4199674.0
100,Japan,Asia,3.402159e+09,45823,47090.0,1140535654,61142547.0
102,Kazakhstan,Asia,1.094098e+07,10948,8823.0,56708266,5833186.0
105,North Korea,Asia,NaN,19,NaN,30753000,NaN
106,South Korea,Asia,1.234465e+09,13481,11477.0,390380946,438235848.0
109,Kyrgyzstan,Asia,6.355880e+05,1867,1541.0,14569327,975263.0
110,Laos,Asia,NaN,1327,NaN,631000,20170.0
119,Macao,Asia,NaN,4,8.0,1137778,38854.0
123,Malaysia,Asia,8.757884e+07,10176,542.0,15485584,5714291.0
124,Maldives,Asia,8.161000e+03,312,7.0,146743,116000.0
135,Mongolia,Asia,NaN,829,333.0,14586714,864300.0
140,Myanmar,Asia,9.564000e+03,3745,NaN,15314120,11793.0
142,Nepal,Asia,2.008190e+05,3340,127.0,974183,92058.0
151,Pakistan,Asia,1.350651e+06,9106,185.0,7640141,346700.0
152,Palau,Asia,NaN,25,NaN,64060,NaN
158,Philippines,Asia,6.398910e+05,1635,69.0,8588851,17016049.0
178,Singapore,Asia,7.061218e+07,429,351.0,22141600,7053742.0
185,Sri Lanka,Asia,1.043907e+06,7241,193.0,6921395,4127206.0
192,Taiwan,Asia,5.926483e+07,2787,3473.0,67488825,26444220.0
193,Tajikistan,Asia,NaN,2019,76.0,7360174,4750.0
195,Thailand,Asia,2.016699e+07,34751,500.0,13563180,3456000.0
196,Timor-Leste,Asia,NaN,6,NaN,5000,NaN
202,Turkmenistan,Asia,NaN,12,NaN,9945930,NaN
211,Uzbekistan,Asia,6.828900e+04,8971,1060.0,69912137,263000.0
214,Vietnam,Asia,NaN,23962,674.0,21814650,NaN

In [29]:
# Extract users_total column as Series: users
users = libraries.loc[:,'users_total']

# Use dr to subset cars: asian
sel = users > 500000

# Subsetting
many_users = libraries[sel]

# Print dataframe
many_users

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total
2,Albania,Europe,1.340360e+05,2107,32.0,12398795,581298.0
9,Argentina,Latin America,NaN,2537,658.0,28770630,787788.0
10,Armenia,Asia,1.331480e+05,2555,1430.0,30935507,13615227.0
12,Australia,Oceania,1.927385e+09,11052,9021.0,128150151,14477916.0
13,Austria,Europe,1.824042e+08,2695,3486.0,71909504,1559109.0
...,...,...,...,...,...,...,...
201,Turkey,Europe,2.798277e+08,19631,14693.0,159104336,13166534.0
206,Ukraine,Europe,2.326858e+06,39177,49219.0,414804767,18167200.0
208,United Kingdom,Europe,4.585212e+09,8447,21286.0,390287808,38498469.0
209,United States,North America,2.175928e+10,101349,157685.0,2580863485,232107561.0
213,Venezuela,Latin America,1.071358e+07,924,222.0,12311871,1903801.0

In [30]:
# Extract users_total column as Series: users
users = libraries.loc[:,'users_total']

# Use dr to subset cars: asian
sel = users > 500000

# Subsetting
many_users = libraries[sel]

# Print dataframe
many_users

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total
2,Albania,Europe,1.340360e+05,2107,32.0,12398795,581298.0
9,Argentina,Latin America,NaN,2537,658.0,28770630,787788.0
10,Armenia,Asia,1.331480e+05,2555,1430.0,30935507,13615227.0
12,Australia,Oceania,1.927385e+09,11052,9021.0,128150151,14477916.0
13,Austria,Europe,1.824042e+08,2695,3486.0,71909504,1559109.0
...,...,...,...,...,...,...,...
201,Turkey,Europe,2.798277e+08,19631,14693.0,159104336,13166534.0
206,Ukraine,Europe,2.326858e+06,39177,49219.0,414804767,18167200.0
208,United Kingdom,Europe,4.585212e+09,8447,21286.0,390287808,38498469.0
209,United States,North America,2.175928e+10,101349,157685.0,2580863485,232107561.0
213,Venezuela,Latin America,1.071358e+07,924,222.0,12311871,1903801.0

### Looping over rows

In [31]:
for row, lab in libraries.iterrows() :
    print(row)
    print(lab)

1
country               Afghanistan
region                       Asia
invests_us_dollars            NaN
libraries_total               150
librarians_total              NaN
volumes_total              577300
users_total               48133.0
Name: 1, dtype: object
2
country                Albania
region                  Europe
invests_us_dollars    134036.0
libraries_total           2107
librarians_total          32.0
volumes_total         12398795
users_total           581298.0
Name: 2, dtype: object
3
country                Algeria
region                  Africa
invests_us_dollars    641176.0
libraries_total            760
librarians_total          56.0
volumes_total          4363718
users_total             1430.0
Name: 3, dtype: object
4
country               American Samoa
region                       Oceania
invests_us_dollars               NaN
libraries_total                   32
librarians_total                 NaN
volumes_total                 170009
users_total                      NaN
Name: 4, dtype: object
5
country                 Andorra
region                   Europe
invests_us_dollars    5777651.0
libraries_total              39
librarians_total            6.0
volumes_total            222869
users_total             16596.0
Name: 5, dtype: object
6
country               Angola
region                Africa
invests_us_dollars       NaN
libraries_total           62
librarians_total         NaN
volumes_total         392870
users_total              NaN
Name: 6, dtype: object
7
country                    Anguilla
region                Latin America
invests_us_dollars              NaN
libraries_total                   1
librarians_total                NaN
volumes_total                 14000
users_total                     NaN
Name: 7, dtype: object
8
country               Antigua and Barbuda
region                      Latin America
invests_us_dollars                    NaN
libraries_total                         8
librarians_total                      NaN
volumes_total                       10000
users_total                           NaN
Name: 8, dtype: object
9
country                   Argentina
region                Latin America
invests_us_dollars              NaN
libraries_total                2537
librarians_total              658.0
volumes_total              28770630
users_total                787788.0
Name: 9, dtype: object
10
country                  Armenia
region                      Asia
invests_us_dollars      133148.0
libraries_total             2555
librarians_total          1430.0
volumes_total           30935507
users_total           13615227.0
Name: 10, dtype: object
11
country                       Aruba
region                Latin America
invests_us_dollars              NaN
libraries_total                  34
librarians_total                NaN
volumes_total                270000
users_total                     NaN
Name: 11, dtype: object
12
country                  Australia
region                     Oceania
invests_us_dollars    1927384739.0
libraries_total              11052
librarians_total            9021.0
volumes_total            128150151
users_total             14477916.0
Name: 12, dtype: object
13
country                   Austria
region                     Europe
invests_us_dollars    182404250.0
libraries_total              2695
librarians_total           3486.0
volumes_total            71909504
users_total             1559109.0
Name: 13, dtype: object
14
country               Azerbaijan
region                      Asia
invests_us_dollars     1490047.0
libraries_total             4432
librarians_total           267.0
volumes_total           59502341
users_total             180131.0
Name: 14, dtype: object
15
country                     Bahamas
region                Latin America
invests_us_dollars              NaN
libraries_total                 139
librarians_total                4.0
volumes_total                201000
users_total                  3733.0
Name: 15, dtype: object
16
country                   Bahrain
region                Middle East
invests_us_dollars      3351600.0
libraries_total               209
librarians_total            183.0
volumes_total              739700
users_total              800300.0
Name: 16, dtype: object
17
country               Bangladesh
region                      Asia
invests_us_dollars      453100.0
libraries_total              217
librarians_total            61.0
volumes_total            9159090
users_total              42800.0
Name: 17, dtype: object
18
country                    Barbados
region                Latin America
invests_us_dollars       55262617.0
libraries_total                  19
librarians_total               42.0
volumes_total                767862
users_total                431624.0
Name: 18, dtype: object
19
country                 Belarus
region                   Europe
invests_us_dollars     112128.0
libraries_total           10173
librarians_total         1469.0
volumes_total         248679193
users_total            603716.0
Name: 19, dtype: object
20
country                   Belgium
region                     Europe
invests_us_dollars    311814353.0
libraries_total              1242
librarians_total           3704.0
volumes_total            71767846
users_total             3388405.0
Name: 20, dtype: object
21
country                      Belize
region                Latin America
invests_us_dollars         257500.0
libraries_total                 106
librarians_total                5.0
volumes_total                439000
users_total                113500.0
Name: 21, dtype: object
22
country                  Benin
region                  Africa
invests_us_dollars    384242.0
libraries_total            125
librarians_total          43.0
volumes_total           235200
users_total            21304.0
Name: 22, dtype: object
23
country                     Bermuda
region                North America
invests_us_dollars        1103000.0
libraries_total                  28
librarians_total               15.0
volumes_total                387800
users_total                118508.0
Name: 23, dtype: object
24
country                Bhutan
region                   Asia
invests_us_dollars     1646.0
libraries_total           515
librarians_total         29.0
volumes_total          203700
users_total           15650.0
Name: 24, dtype: object
25
country                     Bolivia
region                Latin America
invests_us_dollars          24943.0
libraries_total                 549
librarians_total               18.0
volumes_total               1492550
users_total               1193122.0
Name: 25, dtype: object
26
country               Bosnia and Herzegovina
region                                Europe
invests_us_dollars                       NaN
libraries_total                          350
librarians_total                       948.0
volumes_total                        1471314
users_total                         173952.0
Name: 26, dtype: object
27
country                Botswana
region                   Africa
invests_us_dollars    5881533.0
libraries_total             350
librarians_total          216.0
volumes_total           1456338
users_total           1927795.0
Name: 27, dtype: object
28
country                      Brazil
region                Latin America
invests_us_dollars         453645.0
libraries_total               22544
librarians_total              220.0
volumes_total              58078980
users_total              21776249.0
Name: 28, dtype: object
29
country               Brunei Darussalam
region                             Asia
invests_us_dollars             595348.0
libraries_total                      40
librarians_total                  125.0
volumes_total                   1933400
users_total                     40243.0
Name: 29, dtype: object
30
country                Bulgaria
region                   Europe
invests_us_dollars    9222761.0
libraries_total            4374
librarians_total         4658.0
volumes_total          39198801
users_total           1847303.0
Name: 30, dtype: object
31
country               Burkina Faso
region                      Africa
invests_us_dollars             NaN
libraries_total                243
librarians_total               1.0
volumes_total               210672
users_total                   98.0
Name: 31, dtype: object
32
country                Burundi
region                  Africa
invests_us_dollars    120603.0
libraries_total             21
librarians_total          21.0
volumes_total           589700
users_total            26000.0
Name: 32, dtype: object
33
country               Cambodia
region                    Asia
invests_us_dollars         NaN
libraries_total           2109
librarians_total           NaN
volumes_total           192839
users_total                NaN
Name: 33, dtype: object
34
country                Cameroon
region                   Africa
invests_us_dollars     925443.0
libraries_total             109
librarians_total           11.0
volumes_total            821977
users_total           2260400.0
Name: 34, dtype: object
35
country                      Canada
region                North America
invests_us_dollars     3755331450.0
libraries_total               20976
librarians_total            11302.0
volumes_total             269058081
users_total              36288469.0
Name: 35, dtype: object
36
country               Cape Verde
region                    Africa
invests_us_dollars           NaN
libraries_total               77
librarians_total             NaN
volumes_total             690600
users_total                  NaN
Name: 36, dtype: object
37
country               Cayman Islands
region                 Latin America
invests_us_dollars            3920.0
libraries_total                    4
librarians_total                 1.0
volumes_total                  36970
users_total                    284.0
Name: 37, dtype: object
38
country               Central African Republic
region                                  Africa
invests_us_dollars                     14275.0
libraries_total                              5
librarians_total                           3.0
volumes_total                            55740
users_total                             1500.0
Name: 38, dtype: object
39
country                 Chad
region                Africa
invests_us_dollars       NaN
libraries_total           52
librarians_total         NaN
volumes_total          61747
users_total            600.0
Name: 39, dtype: object
40
country                       Chile
region                Latin America
invests_us_dollars        2261325.0
libraries_total                7717
librarians_total               97.0
volumes_total              11528217
users_total                154462.0
Name: 40, dtype: object
41
country                     China
region                       Asia
invests_us_dollars    152000440.0
libraries_total            109673
librarians_total          58953.0
volumes_total          1063356687
users_total            16852456.0
Name: 41, dtype: object
42
country                    Colombia
region                Latin America
invests_us_dollars         518032.0
libraries_total                1948
librarians_total               17.0
volumes_total               6031118
users_total                 10128.0
Name: 42, dtype: object
43
country               Congo, Democratic Republic of
region                                       Africa
invests_us_dollars                              NaN
libraries_total                                 141
librarians_total                                NaN
volumes_total                               2728870
users_total                                  9238.0
Name: 43, dtype: object
44
country               Congo, Republic of the
region                                Africa
invests_us_dollars                       NaN
libraries_total                           77
librarians_total                         7.0
volumes_total                         197260
users_total                          37247.0
Name: 44, dtype: object
45
country                  Costa Rica
region                Latin America
invests_us_dollars       28822223.0
libraries_total                 619
librarians_total               76.0
volumes_total              13834798
users_total                820353.0
Name: 45, dtype: object
46
country               Côte d'Ivoire
region                       Africa
invests_us_dollars              NaN
libraries_total                 122
librarians_total                NaN
volumes_total                574134
users_total                     NaN
Name: 46, dtype: object
47
country                 Croatia
region                   Europe
invests_us_dollars    7329641.0
libraries_total            1550
librarians_total         2277.0
volumes_total          24225338
users_total           1883951.0
Name: 47, dtype: object
48
country                        Cuba
region                Latin America
invests_us_dollars       14200000.0
libraries_total                5661
librarians_total             2533.0
volumes_total              30384633
users_total               5627604.0
Name: 48, dtype: object
49
country                     Curaçao
region                Latin America
invests_us_dollars              NaN
libraries_total                  10
librarians_total                NaN
volumes_total                810000
users_total                     NaN
Name: 49, dtype: object
50
country                 Cyprus
region                  Europe
invests_us_dollars    552729.0
libraries_total            300
librarians_total         136.0
volumes_total          1995938
users_total           141977.0
Name: 50, dtype: object
51
country               Czech Republic
region                        Europe
invests_us_dollars        63305946.0
libraries_total                 9671
librarians_total              8832.0
volumes_total              137414679
users_total                3407241.0
Name: 51, dtype: object
52
country                   Denmark
region                     Europe
invests_us_dollars    752339642.0
libraries_total              2216
librarians_total           3205.0
volumes_total           105606220
users_total             2541602.0
Name: 52, dtype: object
53
country               Djibouti
region                  Africa
invests_us_dollars         NaN
libraries_total              3
librarians_total           NaN
volumes_total            37500
users_total                NaN
Name: 53, dtype: object
54
country                    Dominica
region                Latin America
invests_us_dollars              NaN
libraries_total                  16
librarians_total                4.0
volumes_total                 66004
users_total                  9657.0
Name: 54, dtype: object
55
country               Dominican Republic
region                     Latin America
invests_us_dollars              384180.0
libraries_total                      554
librarians_total                     3.0
volumes_total                    9319806
users_total                     686049.0
Name: 55, dtype: object
56
country                     Ecuador
region                Latin America
invests_us_dollars            515.0
libraries_total                1661
librarians_total                2.0
volumes_total               1910760
users_total                224747.0
Name: 56, dtype: object
57
country                   Egypt
region                   Africa
invests_us_dollars     516747.0
libraries_total           11049
librarians_total          592.0
volumes_total          20906744
users_total           6864000.0
Name: 57, dtype: object
58
country                 El Salvador
region                Latin America
invests_us_dollars              NaN
libraries_total                 396
librarians_total                0.0
volumes_total                951500
users_total                137905.0
Name: 58, dtype: object
59
country               Equatorial Guinea
region                           Africa
invests_us_dollars                432.0
libraries_total                      11
librarians_total                   37.0
volumes_total                     46800
users_total                     12850.0
Name: 59, dtype: object
60
country               Eritrea
region                 Africa
invests_us_dollars        NaN
libraries_total            86
librarians_total          NaN
volumes_total          169350
users_total               NaN
Name: 60, dtype: object
61
country                  Estonia
region                    Europe
invests_us_dollars    21214828.0
libraries_total              977
librarians_total          1947.0
volumes_total           63742816
users_total             853177.0
Name: 61, dtype: object
62
country               Ethiopia
region                  Africa
invests_us_dollars    100554.0
libraries_total            386
librarians_total          15.0
volumes_total          3053202
users_total            24880.0
Name: 62, dtype: object
63
country               Falkland Islands
region                   Latin America
invests_us_dollars             52202.0
libraries_total                      2
librarians_total                   1.0
volumes_total                    35000
users_total                      500.0
Name: 63, dtype: object
64
country               Faroe Islands
region                       Europe
invests_us_dollars         232288.0
libraries_total                   2
librarians_total                6.0
volumes_total                464200
users_total                  5600.0
Name: 64, dtype: object
65
country                   Fiji
region                 Oceania
invests_us_dollars    360390.0
libraries_total            417
librarians_total          28.0
volumes_total          2744238
users_total            68200.0
Name: 65, dtype: object
66
country                   Finland
region                     Europe
invests_us_dollars    636508657.0
libraries_total              6100
librarians_total           7623.0
volumes_total            96736046
users_total             3915122.0
Name: 66, dtype: object
67
country                     France
region                      Europe
invests_us_dollars    1857796885.0
libraries_total               5242
librarians_total           13935.0
volumes_total            267229200
users_total             12814122.0
Name: 67, dtype: object
68
country               French Guiana
region                Latin America
invests_us_dollars          68033.0
libraries_total                   5
librarians_total                NaN
volumes_total                 81000
users_total                   800.0
Name: 68, dtype: object
69
country               French Polynesia
region                         Oceania
invests_us_dollars                 NaN
libraries_total                      8
librarians_total                   NaN
volumes_total                   180732
users_total                        NaN
Name: 69, dtype: object
70
country                 Gabon
region                 Africa
invests_us_dollars    37580.0
libraries_total            85
librarians_total          2.0
volumes_total          180800
users_total            8434.0
Name: 70, dtype: object
71
country                 Gambia
region                  Africa
invests_us_dollars    112640.0
libraries_total            119
librarians_total          13.0
volumes_total           261300
users_total           135930.0
Name: 71, dtype: object
72
country                  Georgia
region                      Asia
invests_us_dollars    14765200.0
libraries_total             2355
librarians_total           442.0
volumes_total           73444582
users_total            2894000.0
Name: 72, dtype: object
73
country                    Germany
region                      Europe
invests_us_dollars    2791915929.0
libraries_total              12545
librarians_total           19250.0
volumes_total           3765041717
users_total             11521384.0
Name: 73, dtype: object
74
country                    Ghana
region                    Africa
invests_us_dollars    13766957.0
libraries_total             7265

Name: 100, dtype: object
101
country                    Jordan
region                Middle East
invests_us_dollars      1642126.0
libraries_total              5687
librarians_total            254.0
volumes_total             3749595
users_total               58665.0
Name: 101, dtype: object
102
country               Kazakhstan
region                      Asia
invests_us_dollars    10940976.0
libraries_total            10948
librarians_total          8823.0
volumes_total           56708266
users_total            5833186.0
Name: 102, dtype: object
103
country                    Kenya
region                    Africa
invests_us_dollars    44135156.0
libraries_total              300
librarians_total           125.0
volumes_total            3273515
users_total             561679.0
Name: 103, dtype: object
104
country               Kiribati
region                 Oceania
invests_us_dollars         NaN
libraries_total              7
librarians_total           NaN
volumes_total            63442
users_total                NaN
Name: 104, dtype: object
105
country               North Korea
region                       Asia
invests_us_dollars            NaN
libraries_total                19
librarians_total              NaN
volumes_total            30753000
users_total                   NaN
Name: 105, dtype: object
106
country                South Korea
region                        Asia
invests_us_dollars    1234464524.0
libraries_total              13481
librarians_total           11477.0
volumes_total            390380946
users_total            438235848.0
Name: 106, dtype: object
107
country                Kosovo
region                 Europe
invests_us_dollars        NaN
libraries_total             9
librarians_total          NaN
volumes_total         1200000
users_total               NaN
Name: 107, dtype: object
108
country                    Kuwait
region                Middle East
invests_us_dollars      1140790.0
libraries_total               132
librarians_total             92.0
volumes_total             2433206
users_total             1489135.0
Name: 108, dtype: object
109
country               Kyrgyzstan
region                      Asia
invests_us_dollars      635588.0
libraries_total             1867
librarians_total          1541.0
volumes_total           14569327
users_total             975263.0
Name: 109, dtype: object
110
country                  Laos
region                   Asia
invests_us_dollars        NaN
libraries_total          1327
librarians_total          NaN
volumes_total          631000
users_total           20170.0
Name: 110, dtype: object
111
country                   Latvia
region                    Europe
invests_us_dollars    26084992.0
libraries_total             1942
librarians_total          3430.0
volumes_total           23380116
users_total            1162674.0
Name: 111, dtype: object
112
country                   Lebanon
region                Middle East
invests_us_dollars          295.0
libraries_total               642
librarians_total             88.0
volumes_total             3874578
users_total             1028000.0
Name: 112, dtype: object
113
country               Lesotho
region                 Africa
invests_us_dollars        NaN
libraries_total           224
librarians_total          NaN
volumes_total          419000
users_total            3062.0
Name: 113, dtype: object
114
country                Liberia
region                  Africa
invests_us_dollars    643990.0
libraries_total            114
librarians_total          21.0
volumes_total           457576
users_total           447833.0
Name: 114, dtype: object
115
country                 Libya
region                 Africa
invests_us_dollars        NaN
libraries_total            41
librarians_total          NaN
volumes_total         1054200
users_total               NaN
Name: 115, dtype: object
116
country               Liechtenstein
region                       Europe
invests_us_dollars        1668946.0
libraries_total                   9
librarians_total               12.0
volumes_total                417980
users_total                 57334.0
Name: 116, dtype: object
117
country                Lithuania
region                    Europe
invests_us_dollars    31381967.0
libraries_total             1320
librarians_total          6979.0
volumes_total           61640015
users_total            1644349.0
Name: 117, dtype: object
118
country               Luxembourg
region                    Europe
invests_us_dollars     8169216.0
libraries_total               94
librarians_total            77.0
volumes_total            3115658
users_total             159368.0
Name: 118, dtype: object
119
country                 Macao
region                   Asia
invests_us_dollars        NaN
libraries_total             4
librarians_total          8.0
volumes_total         1137778
users_total           38854.0
Name: 119, dtype: object
120
country               Macedonia
region                   Europe
invests_us_dollars     327207.0
libraries_total            1099
librarians_total          469.0
volumes_total          11211151
users_total           3135267.0
Name: 120, dtype: object
121
country               Madagascar
region                    Africa
invests_us_dollars       14841.0
libraries_total              375
librarians_total             1.0
volumes_total            1542720
users_total              77264.0
Name: 121, dtype: object
122
country                 Malawi
region                  Africa
invests_us_dollars    944346.0
libraries_total             97
librarians_total          85.0
volumes_total          2575036
users_total            72500.0
Name: 122, dtype: object
123
country                 Malaysia
region                      Asia
invests_us_dollars    87578838.0
libraries_total            10176
librarians_total           542.0
volumes_total           15485584
users_total            5714291.0
Name: 123, dtype: object
124
country               Maldives
region                    Asia
invests_us_dollars      8161.0
libraries_total            312
librarians_total           7.0
volumes_total           146743
users_total           116000.0
Name: 124, dtype: object
125
country                    Mali
region                   Africa
invests_us_dollars       2112.0
libraries_total             506
librarians_total           16.0
volumes_total            388600
users_total           1526000.0
Name: 125, dtype: object
126
country                   Malta
region                   Europe
invests_us_dollars    1074407.0
libraries_total             139
librarians_total           13.0
volumes_total           1983710
users_total            242648.0
Name: 126, dtype: object
127
country               Marshall Islands
region                         Oceania
invests_us_dollars                 NaN
libraries_total                     12
librarians_total                   NaN
volumes_total                    95800
users_total                        NaN
Name: 127, dtype: object
128
country                  Martinique
region                Latin America
invests_us_dollars              NaN
libraries_total                   6
librarians_total                NaN
volumes_total                440091
users_total                  3447.0
Name: 128, dtype: object
129
country               Mauritania
region                    Africa
invests_us_dollars           NaN
libraries_total               38
librarians_total             NaN
volumes_total             272500
users_total                  NaN
Name: 129, dtype: object
130
country               Mauritius
region                   Africa
invests_us_dollars     610649.0
libraries_total             113
librarians_total           29.0
volumes_total           1275862
users_total            260449.0
Name: 130, dtype: object
131
country                      Mexico
region                Latin America
invests_us_dollars      181744087.0
libraries_total               13308
librarians_total            11879.0
volumes_total              75662394
users_total              57309733.0
Name: 131, dtype: object
132
country               Micronesia
region                   Oceania
invests_us_dollars           NaN
libraries_total               24
librarians_total             NaN
volumes_total             107800
users_total                  NaN
Name: 132, dtype: object
133
country                 Moldova
region                   Europe
invests_us_dollars    1228728.0
libraries_total            2899
librarians_total         1714.0
volumes_total          30216100
users_total            153661.0
Name: 133, dtype: object
134
country                 Monaco
region                  Europe
invests_us_dollars    339872.0
libraries_total             13
librarians_total          14.0
volumes_total           552000
users_total            29600.0
Name: 134, dtype: object
135
country               Mongolia
region                    Asia
invests_us_dollars         NaN
libraries_total            829
librarians_total         333.0
volumes_total         14586714
users_total           864300.0
Name: 135, dtype: object
136
country               Montenegro
region                    Europe
invests_us_dollars           NaN
libraries_total              258
librarians_total             NaN
volumes_total            1626172
users_total                  NaN
Name: 136, dtype: object
137
country                  Montserrat
region                Latin America
invests_us_dollars              NaN
libraries_total                   1
librarians_total                NaN
volumes_total                 15000
users_total                     NaN
Name: 137, dtype: object
138
country                Morocco
region                  Africa
invests_us_dollars         NaN
libraries_total            735
librarians_total         207.0
volumes_total          3443428
users_total           261344.0
Name: 138, dtype: object
139
country               Mozambique
region                    Africa
invests_us_dollars           NaN
libraries_total              141
librarians_total             NaN
volumes_total             378000
users_total                  NaN
Name: 139, dtype: object
140
country                Myanmar
region                    Asia
invests_us_dollars      9564.0
libraries_total           3745
librarians_total           NaN
volumes_total         15314120
users_total            11793.0
Name: 140, dtype: object
141
country                 Namibia
region                   Africa
invests_us_dollars    1627755.0
libraries_total            1097
librarians_total          115.0
volumes_total            886920
users_total            191568.0
Name: 141, dtype: object
142
country                  Nepal
region                    Asia
invests_us_dollars    200819.0
libraries_total           3340
librarians_total         127.0
volumes_total           974183
users_total            92058.0
Name: 142, dtype: object
143
country                Netherlands
region                      Europe
invests_us_dollars    1102169201.0
libraries_total                702
librarians_total            5361.0
volumes_total             85793807
users_total              5591545.0
Name: 143, dtype: object
144
country               New Caledonia
region                      Oceania
invests_us_dollars        8571877.0
libraries_total                  12
librarians_total                1.0
volumes_total                505580
users_total                   700.0
Name: 144, dtype: object
145
country               New Zealand
region                    Oceania
invests_us_dollars    243268295.0
libraries_total              2992
librarians_total           2066.0
volumes_total            27325387
users_total             1723375.0
Name: 145, dtype: object
146
country                   Nicaragua
region                Latin America
invests_us_dollars        1772571.0
libraries_total                 456
librarians_total              184.0
volumes_total               1256331
users_total                 99948.0
Name: 146, dtype: object
147
country                Niger
region                Africa
invests_us_dollars       NaN
libraries_total           13
librarians_total         NaN
volumes_total         167800
users_total           1392.0
Name: 147, dtype: object
148
country                 Nigeria
region                   Africa
invests_us_dollars    6675461.0
libraries_total             269
librarians_total         1220.0
volumes_total          11082019
users_total            330936.0
Name: 148, dtype: object
149
country                    Norway
region                     Europe
invests_us_dollars    419628603.0
libraries_total              4009
librarians_total           3488.0
volumes_total            44638198
users_total             2074580.0
Name: 149, dtype: object
150
country                      Oman
region                Middle East
invests_us_dollars     25103260.0
libraries_total              1051
librarians_total             66.0
volumes_total              717474
users_total              385085.0
Name: 150, dtype: object
151
country                Pakistan
region                     Asia
invests_us_dollars    1350651.0
libraries_total            9106
librarians_total          185.0
volumes_total           7640141
users_total            346700.0
Name: 151, dtype: object
152
country               Palau
region                 Asia
invests_us_dollars      NaN
libraries_total          25
librarians_total        NaN
volumes_total         64060
users_total             NaN
Name: 152, dtype: object
153
country                 Palestine
region                Middle East
invests_us_dollars            NaN
libraries_total              1086
librarians_total              NaN
volumes_total              995100
users_total                   NaN
Name: 153, dtype: object
154
country                      Panama
region                Latin America
invests_us_dollars              NaN
libraries_total                 739
librarians_total                NaN
volumes_total               1037400
users_total                355023.0
Name: 154, dtype: object
155
country               Papua New Guinea
region                         Oceania
invests_us_dollars           1849154.0
libraries_total                    185
librarians_total                   1.0
volumes_total                  2109090
users_total                    53595.0
Name: 155, dtype: object
156
country                    Paraguay
region                Latin America
invests_us_dollars         718690.0
libraries_total                 285
librarians_total              137.0
volumes_total                716469
users_total                504374.0
Name: 156, dtype: object
157
country                        Peru
region                Latin America
invests_us_dollars        3110402.0
libraries_total                2644
librarians_total               88.0
volumes_total              11625034
users_total                 78263.0
Name: 157, dtype: object
158
country               Philippines
region                       Asia
invests_us_dollars       639891.0
libraries_total              1635
librarians_total             69.0
volumes_total             8588851
users_total            17016049.0
Name: 158, dtype: object
159
country                    Poland
region                     Europe
invests_us_dollars    278480321.0
libraries_total             24945
librarians_total          44651.0
volumes_total           286558256
users_total            20564277.0
Name: 159, dtype: object
160
country                 Portugal
region                    Europe
invests_us_dollars    77783835.0
libraries_total             1413
librarians_total          2722.0
volumes_total           22582772
users_total            3206805.0
Name: 160, dtype: object
161
country                 Puerto Rico
region                Latin America
invests_us_dollars       38348570.0
libraries_total                 843
librarians_total              437.0
volumes_total              65403682
users_total                957414.0
Name: 161, dtype: object
162
country                     Qatar
region                Middle East
invests_us_dollars      2109341.0
libraries_total               171
librarians_total             27.0
volumes_total             1256400
users_total               83043.0
Name: 162, dtype: object
163
country                Réunion
region                  Africa
invests_us_dollars    642049.0
libraries_total             10
librarians_total           4.0
volumes_total           457600
users_total             3000.0
Name: 163, dtype: object
164
country                   Romania
region                     Europe
invests_us_dollars    104465496.0
libraries_total             11787
librarians_total          15691.0
volumes_total           123227682
users_total             5695820.0
Name: 164, dtype: object
165
country                   Russia
region                    Europe
invests_us_dollars    53754058.0
libraries_total           113867
librarians_total        144123.0
volumes_total         1986072091
users_total           60104774.0
Name: 165, dtype: object
166
country                 Rwanda
region                  Africa
invests_us_dollars    183434.0
libraries_total             28
librarians_total           1.0
volumes_total           398278
users_total             1841.0
Name: 166, dtype: object
167
country               Saint Kitts and Nevis
region                        Latin America
invests_us_dollars                      NaN
libraries_total                           5
librarians_total                        NaN
volumes_total                          2950
users_total                             NaN
Name: 167, dtype: object
168
country                 Saint Lucia
region                Latin America
invests_us_dollars              NaN
libraries_total                  37
librarians_total                NaN
volumes_total                204520
users_total                     NaN
Name: 168, dtype: object
169
country               Saint Vincent and the Grenadines
region                                   Latin America
invests_us_dollars                             10370.0
libraries_total                                     26
librarians_total                                   6.0
volumes_total                                   334787
users_total                                    53500.0
Name: 169, dtype: object
170
country                 Samoa
region                Oceania
invests_us_dollars        NaN
libraries_total            41
librarians_total          NaN
volumes_total          177500
users_total               NaN
Name: 170, dtype: object
171
country               San Marino
region                    Europe
invests_us_dollars       10750.0
libraries_total               27
librarians_total             2.0
volumes_total             371477
users_total               1616.0
Name: 171, dtype: object
172
country               São Tomé and Príncipe
region                               Africa
invests_us_dollars                      NaN
libraries_total                           5
librarians_total                        NaN
volumes_total                         48000
users_total                             NaN
Name: 172, dtype: object
173
country               Saudi Arabia
region                 Middle East
invests_us_dollars       6191937.0
libraries_total               5317
librarians_total             268.0
volumes_total             15680643
users_total               485620.0
Name: 173, dtype: object
174
country                Senegal
region                  Africa
invests_us_dollars    331755.0
libraries_total             66
librarians_total          98.0
volumes_total           989576
users_total            11500.0
Name: 174, dtype: object
175
country                 Serbia
region                  Europe
invests_us_dollars         NaN
libraries_total           2095
librarians_total        2745.0
volumes_total         14756191
users_total           799517.0
Name: 175, dtype: object
176
country               Seychelles
region                    Africa
invests_us_dollars      295134.0
libraries_total               45

In [34]:
for row, lab in libraries.iterrows() :
    print(row, ':', lab.loc["country"])

1 : Afghanistan
2 : Albania
3 : Algeria
4 : American Samoa
5 : Andorra
6 : Angola
7 : Anguilla
8 : Antigua and Barbuda
9 : Argentina
10 : Armenia
11 : Aruba
12 : Australia
13 : Austria
14 : Azerbaijan
15 : Bahamas
16 : Bahrain
17 : Bangladesh
18 : Barbados
19 : Belarus
20 : Belgium
21 : Belize
22 : Benin
23 : Bermuda
24 : Bhutan
25 : Bolivia
26 : Bosnia and Herzegovina
27 : Botswana
28 : Brazil
29 : Brunei Darussalam
30 : Bulgaria
31 : Burkina Faso
32 : Burundi
33 : Cambodia
34 : Cameroon
35 : Canada
36 : Cape Verde
37 : Cayman Islands
38 : Central African Republic
39 : Chad
40 : Chile
41 : China
42 : Colombia
43 : Congo, Democratic Republic of
44 : Congo, Republic of the
45 : Costa Rica
46 : Côte d'Ivoire
47 : Croatia
48 : Cuba
49 : Curaçao
50 : Cyprus
51 : Czech Republic
52 : Denmark
53 : Djibouti
54 : Dominica
55 : Dominican Republic
56 : Ecuador
57 : Egypt
58 : El Salvador
59 : Equatorial Guinea
60 : Eritrea
61 : Estonia
62 : Ethiopia
63 : Falkland Islands
64 : Faroe Islands
65 : Fiji
66 : Finland
67 : France
68 : French Guiana
69 : French Polynesia
70 : Gabon
71 : Gambia
72 : Georgia
73 : Germany
74 : Ghana
75 : Gibraltar
76 : Greece
77 : Greenland
78 : Grenada
79 : Guadeloupe
80 : Guam
81 : Guatemala
82 : Guinea
83 : Guinea-Bissau
84 : Guyana
85 : Haiti
86 : Holy See (Vatican City)
87 : Honduras
88 : Hong Kong
89 : Hungary
90 : Iceland
91 : India
92 : Indonesia
93 : Iran
94 : Iraq
95 : Ireland
96 : Isle of Man
97 : Israel
98 : Italy
99 : Jamaica
100 : Japan
101 : Jordan
102 : Kazakhstan
103 : Kenya
104 : Kiribati
105 : North Korea
106 : South Korea
107 : Kosovo
108 : Kuwait
109 : Kyrgyzstan
110 : Laos
111 : Latvia
112 : Lebanon
113 : Lesotho
114 : Liberia
115 : Libya
116 : Liechtenstein
117 : Lithuania
118 : Luxembourg
119 : Macao
120 : Macedonia
121 : Madagascar
122 : Malawi
123 : Malaysia
124 : Maldives
125 : Mali
126 : Malta
127 : Marshall Islands
128 : Martinique
129 : Mauritania
130 : Mauritius
131 : Mexico
132 : Micronesia
133 : Moldova
134 : Monaco
135 : Mongolia
136 : Montenegro
137 : Montserrat
138 : Morocco
139 : Mozambique
140 : Myanmar
141 : Namibia
142 : Nepal
143 : Netherlands
144 : New Caledonia
145 : New Zealand
146 : Nicaragua
147 : Niger
148 : Nigeria
149 : Norway
150 : Oman
151 : Pakistan
152 : Palau
153 : Palestine
154 : Panama
155 : Papua New Guinea
156 : Paraguay
157 : Peru
158 : Philippines
159 : Poland
160 : Portugal
161 : Puerto Rico
162 : Qatar
163 : Réunion
164 : Romania
165 : Russia
166 : Rwanda
167 : Saint Kitts and Nevis
168 : Saint Lucia
169 : Saint Vincent and the Grenadines
170 : Samoa
171 : San Marino
172 : São Tomé and Príncipe
173 : Saudi Arabia
174 : Senegal
175 : Serbia
176 : Seychelles
177 : Sierra Leone
178 : Singapore
179 : Slovakia
180 : Slovenia
181 : Solomon Islands
182 : Somalia
183 : South Africa
184 : Spain
185 : Sri Lanka
186 : Sudan
187 : Suriname
188 : Swaziland
189 : Sweden
190 : Switzerland
191 : Syria
192 : Taiwan
193 : Tajikistan
194 : Tanzania
195 : Thailand
196 : Timor-Leste
197 : Togo
198 : Tonga
199 : Trinidad and Tobago
200 : Tunisia
201 : Turkey
202 : Turkmenistan
203 : Turks and Caicos Islands
204 : Tuvalu
205 : Uganda
206 : Ukraine
207 : United Arab Emirates
208 : United Kingdom
209 : United States
210 : Uruguay
211 : Uzbekistan
212 : Vanuatu
213 : Venezuela
214 : Vietnam
215 : Virgin Islands, British
216 : Virgin Islands, U.S.
217 : Yemen
218 : Zambia
219 : Zimbabwe

In [37]:
for row, lab in libraries.iterrows() :
    libraries.loc[row, 'COUNTRY'] = lab['country'].upper()
    
libraries

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total,COUNTRY
1,Afghanistan,Asia,NaN,150,NaN,577300,48133.0,AFGHANISTAN
2,Albania,Europe,134036.0,2107,32.0,12398795,581298.0,ALBANIA
3,Algeria,Africa,641176.0,760,56.0,4363718,1430.0,ALGERIA
4,American Samoa,Oceania,NaN,32,NaN,170009,NaN,AMERICAN SAMOA
5,Andorra,Europe,5777651.0,39,6.0,222869,16596.0,ANDORRA
...,...,...,...,...,...,...,...,...
215,"Virgin Islands, British",Latin America,NaN,7,NaN,36000,8815.0,"VIRGIN ISLANDS, BRITISH"
216,"Virgin Islands, U.S.",Latin America,NaN,45,NaN,495810,NaN,"VIRGIN ISLANDS, U.S."
217,Yemen,Middle East,NaN,12,NaN,360500,NaN,YEMEN
218,Zambia,Africa,6050.0,247,NaN,4226783,950.0,ZAMBIA
219,Zimbabwe,Africa,107316.0,174,12.0,2048707,208487.0,ZIMBABWE

#### Replacing for loop for .apply(str.upper)

In [38]:
# The for loop was creating various series and then adding
# them to the df. Now, we'll create a one-liner for the same code above.
    
libraries['REGION'] = libraries['region'].apply(str.upper)

libraries

,country,region,invests_us_dollars,libraries_total,librarians_total,volumes_total,users_total,COUNTRY,REGION
1,Afghanistan,Asia,NaN,150,NaN,577300,48133.0,AFGHANISTAN,ASIA
2,Albania,Europe,134036.0,2107,32.0,12398795,581298.0,ALBANIA,EUROPE
3,Algeria,Africa,641176.0,760,56.0,4363718,1430.0,ALGERIA,AFRICA
4,American Samoa,Oceania,NaN,32,NaN,170009,NaN,AMERICAN SAMOA,OCEANIA
5,Andorra,Europe,5777651.0,39,6.0,222869,16596.0,ANDORRA,EUROPE
...,...,...,...,...,...,...,...,...,...
215,"Virgin Islands, British",Latin America,NaN,7,NaN,36000,8815.0,"VIRGIN ISLANDS, BRITISH",LATIN AMERICA
216,"Virgin Islands, U.S.",Latin America,NaN,45,NaN,495810,NaN,"VIRGIN ISLANDS, U.S.",LATIN AMERICA
217,Yemen,Middle East,NaN,12,NaN,360500,NaN,YEMEN,MIDDLE EAST
218,Zambia,Africa,6050.0,247,NaN,4226783,950.0,ZAMBIA,AFRICA
219,Zimbabwe,Africa,107316.0,174,12.0,2048707,208487.0,ZIMBABWE,AFRICA